@model CommonSolutions.DTO.DtoVuelo

@{ ViewBag.Title = "DetallarVuelo"; }

<h2>DetallarVuelo</h2>

<div>
    <h4>DtoVuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadAsientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadAsientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaComienzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaComienzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaLimite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaLimite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>