<link
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/CSS/Home.css">

<h2>Papaso System</h2>
<p class="botonArriba">
    <a class="botonArriba" href="@Url.Action("Admin", "Home")">Menu</a>
    <a href="@Url.Action("LogOut", "Login")" class="notification">Salir</a>
</p>
<hr />
<div>
    <a  href="@Url.Action("manAvion", "Avion")"><input class="boton" type="button" name="name" value="Aviones" /> </a>
</div>
<div>
    <a  href="@Url.Action("AltaAeropuerto", "Aeropuerto")"><input class="boton" type="button" name="name" value="Aeropuertos" /></a>
</div>
<div>
    <a  href="@Url.Action("manVuelo", "Vuelo")"> <input class="boton" type="button" name="name" value="Vuelos" /> </a>
</div>
<div>
    <a  href="@Url.Action("viewReporte", "Reporte")"> <input class="boton" type="button" name="name" value="Reportes" /> </a>
</div>
<div>
    <a  href="@Url.Action("AdminEmpleados", "Empleado")"> <input class="boton" type="button" name="name" value="Empleados" /> </a>
</div>
